<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772597836618-b2q3oddm03qoi4a6phfahahqadvaiioc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772597836618-b2q3oddm03qoi4a6phfahahqadvaiioc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772597836618-122p1c0dra79gnqvunbu67f7j9lu6r6n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnVNZyIGfxWhlK0ZxitMS6sw2gPtDLxTI</string>
	<key>GCM_SENDER_ID</key>
	<string>772597836618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freshfruits.ios</string>
	<key>PROJECT_ID</key>
	<string>fresh-fruits-4d586</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh-fruits-4d586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772597836618:ios:45c0434b7bcbae358cefb3</string>
</dict>
</plist>